.p-button {
  display: block !important;
}

.action-buttons {
  align-items: left;
  display: flex;
  gap: 10px;
}

.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .p-datatable-responsive {
    overflow-x: auto;
  }

  .p-datatable-responsive table {
    width: 100%;
  }

  .p-datatable-tbody-scrollable {
    max-height: 300px;
  }
}

.p-grid {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
